html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #424242;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 1.6em;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

body.ajax-page-visible {
  overflow: hidden;
}

a {
  color: #2eca7f;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #ff9800;
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
}

p.lead {
  font-size: 18px;
  margin: 25px 0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.page {
  position: relative;
  width: 100%;
  height: auto;
}

.mobile-visible {
  display: none;
  visibility: hidden;
}

.mobile-hidden {
  display: block;
  visibility: visible;
}
