.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 18px;
}

.header * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .header__content {
  max-width: 1032px;
  margin: 0 auto;
}

.site-title-block {
  position: relative;
  float: left;
}

.site-title {
  color: #49515d;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", Helvetica, sans-serif;
  line-height: 1;
  margin: 38px 0 0;
  span {
    color: #2eca7f;
  }
}
.nav-wrapper {
  float: right;
}

.nav__menu {
  padding: 0;
  margin: 0;
  li {
    //同一行
    display: inline-block;
    margin-top: 30px;
  }
}
.nav__menu li a,
.nav__menu li a:hover {
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}

.nav__menu li:last-child a {
  margin-right: 0;
}

.nav__menu li a:hover,
.nav__menu li.active a {
  background-color: transparent;
  opacity: 1;
}

.nav__menu li a:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  //标题出现下划线动画
  content: "";
  width: 0;
  height: 2px;
  margin: 0 auto;
  background-color: #2eca7f;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.nav__menu li a:hover:after,
.nav__menu li.active a:after {
  width: 25px;
}
