//HomeSubpage

///layout setting
.start-page-content .page-header {
  position: relative;
  background-color: #2eca7f;
  padding: 50px;
  margin-bottom: 25px;
  background-image: url(../images/sp_main_bg.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}
